.header {
    padding: 5px;
    padding-inline: 15px;
    width: 100%;
    box-sizing: border-box;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    position: fixed;
}

.twitter-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-btn {
    height: 30px;
    background-color: #4bacd2;
    color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding-inline: 15px;
}