.header {
    padding: 5px;
    padding-inline: 15px;
    width: 100%;
    box-sizing: border-box;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    position: fixed;
}

.twitter-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.left-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.login-btn {
    height: 32px;
    background-color: #4bacd2;
    color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding-inline: 15px;
}

.new-tweet-btn {
    height: 32px;
    background-color: #4bacd2;
    color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding-inline: 15px;
}

.profile-btn {
    background-color: gray;
    width: 32px;
    height: 32px;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
}