@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

body {
    font-family: 'Roboto';
    margin: 0px;
}

.twitter-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px
}

p {
    margin: 0px
}