
body {
    font-family: 'Arial';
    margin: 0px;
    background-color: #f5f8fa;
    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    color: #292F33;
}

p {
    margin: 0px;
    color: #66757f;
}

button {
    cursor: pointer;
}

main {
    margin-inline: 10px;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
}

ul {
    margin: 0px;
    padding: 0px;
}