.post-item {
    display: flex;
    gap: 8px;
    padding: 5px;
    padding-inline: 10px;
    border-top: 1px solid rgb(239, 243, 244);
    border-left: 1px solid rgb(239, 243, 244);
    border-right: 1px solid rgb(239, 243, 244);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.92);
}

.post-item:hover {
    transition: 0.2s;
    background-color: rgb(0, 0, 0, 0.03);
}

.content-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.avatar-img {
    width: 48px;
    height: 48px;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
}

.owner-name {
    color: #292F33;
    display: inline;
}